<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <title>Desenvolvimento de Cliente WEB - Criptografia e Segurança</title>
    <link rel="stylesheet" href="https://supreme-meme-7j6v5x4qqr3w69g-3001.app.github.dev/file?name=bootstrap.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{#if xss.contentSecurityPolicy}}
    <meta http-equiv="Content-Security-Policy" content="script-src-elem 'none'; script-src 'none';">
    {{/if}}
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div style="position: fixed; bottom: 2%; right: 2%"><a class="btn btn-danger" href="/">Voltar</a></div>
    <div class="d-flex flex-column flex-md-row vh-100 justify-content-around">
        <div class="d-flex vh-100 flex-column justify-content-center align-items-center">
            <h1>JavaScript Vanilla</h1>

            <img width="300rem" src="/ram-ddr4.png" />

            <h2>Memória Ram 16 GB DDR4</h2>

            {{#each ratings as |rating|}}
            {{{rating.message}}}<br />
            {{/each}}

            <form class="d-flex flex-column" action="/xss/add-rating" method="post">
                <textarea id="ratingMessage" name="ratingMessage" rows="8" cols="42">
<script>
    alert('Script Injetado!')
</script>
            </textarea>

                <button class="btn btn-primary" type="submit">Adicionar</button>
            </form>
        </div>

        <div class="vr"></div>
        <div class="hr"></div>
        <div id="vueApp" class="d-flex vh-100 flex-column justify-content-center align-items-center">
            <h1>VueJS</h1>

            <img width="300rem" src="/ram-ddr4.png" />

            <h2>Memória Ram 16 GB DDR4</h2>

            <div v-for="(ratting, index) in ratings" v-html="ratting.message">
            </div>

            <div class="d-flex flex-column">
                <textarea name="ratingMessage" rows="8" cols="42" v-model="ratingMessage">
                </textarea>

                <button v-on:click="() => {ratings.push({message: ratingMessage});}"
                    class="btn btn-primary">Adicionar</button>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#vueApp',
            data: {
                ratingMessage: "\<script\>\n alert('Script Injetado!')\n\<\/script\>",
                ratings: []
            }
        })
    </script>

    <script>
        var script = document.createElement('script');
        script.nonce = "fake-cdn";
        script.src = 'https://supreme-meme-7j6v5x4qqr3w69g-3001.app.github.dev/file?name=jquery.js';
        script.type = 'text/javascript';
        document.getElementsByTagName('head')[0].appendChild(script);
    </script>
</body>

</html>