<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8" />
  <title>Desenvolvimento de Cliente WEB - Criptografia e Segurança</title>
  <link rel="stylesheet" href="/bootstrap.css" />
</head>

<body>
    <h1>Quantidade de requisicoes: {{requestCount}}</h1>
</body>

</html>