<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8" />
  <title>Desenvolvimento de Cliente WEB - Criptografia e Segurança</title>
  <link rel="stylesheet" href="/bootstrap.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <h1 class="text-center py-5">Quantidade de requisicoes: {{requestCount}}</h1>
    <div style="position: fixed; bottom: 2%; right: 2%"><a class="btn btn-danger" href="/">Voltar</a></div>
</body>

</html>