<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8" />
  <title>Desenvolvimento de Cliente WEB - Criptografia e Segurança</title>
  <link rel="stylesheet" href="/bootstrap.css" />
</head>

<body>
  <div class="vh-100 d-flex flex-column justify-content-evenly align-items-center">

    <h1>Desenvolvimento de Cliente WEB - Criptografia e Segurança</h1>

    <div class="d-flex justify-content-evenly gap-lg">

      <div class="d-flex flex-column align-items-center p-4">
        <img width="100" class="rounded-circle" src="https://avatars.githubusercontent.com/u/75266260" />
        <h3>Carlos Rodrigues da Silva Junior</h3>
      </div>

      <div class="d-flex flex-column align-items-center p-4">
        <img width="100" class="rounded-circle" src="https://avatars.githubusercontent.com/u/7975964" />
        <h3>Gilmar Custodio de Sales</h3>
      </div>

    </div>

    <h2>Playground de simulação das principais vulnerabilidades de aplicativos WEB</h2>
    <div class="px-5 vw-100 d-flex justify-content-evenly">
      <form class="vw-100 p-4 d-flex flex-column justify-content-between" action="/csrf" method="post">
        <h3>Cross-Site Request Forgery</h3>
        <p>Ocorre quando sites de terceiros conseguem interceptar as credenciais dos usuários de um aplicativo.</p>
        <div class="px-4 pb-4">
          <div class="form-check">
            <input class="form-check-input" name="secureCookies" type="checkbox" id="secureCookies" {{#if
              csrf.secureCookies}} checked {{/if}}>
            <label class="form-check-label" for="secureCookies">
              Cookies Via SSL
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" name="httpOnlyCookies" type="checkbox" id="httpOnlyCookies" {{#if
              csrf.httpOnlyCookies}} checked {{/if}}>
            <label class="form-check-label" for="httpOnlyCookies">
              Cookies HttpOnly
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" name="sameSiteCookies" type="checkbox" id="sameSiteCookies" {{#if
              csrf.sameSiteCookies}} checked {{/if}}>
            <label class="form-check-label" for="sameSiteCookies">
              Cookies SameSite Strict
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" name="signedCookies" type="checkbox" id="signedCookies" {{#if
              csrf.signedCookies}} checked {{/if}}>
            <label class="form-check-label" for="signedCookies">
              Cookies Assinados
            </label>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Acessar ambiente CSRF</button>
      </form>
      <form class="vw-100 p-4 d-flex flex-column justify-content-between" action="/xss" method="post">
        <form class="vw-100 p-4 d-flex flex-column justify-content-between" action="/xss" method="post">
          <h3>Cross-Site Scripting</h3>
          <p>Normalmente ocorre quando se utiliza conteúdos de terceiros (CDNs, Propagandas, etc...) em uma aplicação,
            esses conteúdos podem conseguir injetar algum script malicioso.</p>

          <div class="px-4 pb-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="contentSecurityPolicy" id="contentSecurityPolicy" {{#if xss.contentSecurityPolicy}}
                checked {{/if}}>
              <label class="form-check-label" for="contentSecurityPolicy">
                Habilitar Content-Security-Policy
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="sanitizeInput" id="sanitizeInput" {{#if xss.sanitizeInput}} checked
                {{/if}}>
              <label class="form-check-label" for="sanitizeInput">
                Habilitar tratamento entrada (JS)
              </label>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Acessar ambiente XSS</button>
        </form>
        <form class="vw-100 p-4 d-flex flex-column justify-content-between" action="/dos" method="post">
          <h3>Denial of Service</h3>
          <p>Ataques de negação de serviço podem acontecer pela força bruta, que podem ser barrados com uma simples
            limitação de requisições por usuário, porém, caso um usuário encontre um endpoint que possui um algoritmo
            muito complexo assintoticamente, este endpoint poderá ser explorado para negar o serviço sem passar do
            limite
            de requisições.</p>
          <form action="/dos" method="post">

          <div class="px-4 pb-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="rateLimiting" id="rateLimiting" {{#if dos.rateLimiting}} checked
                {{/if}}>
              <label class="form-check-label" for="rateLimiting">
                Habilitar Rate Limiting
              </label>
            </div>
          </div>

          <button class="btn btn-primary" type="submit">Acessar ambiente DoS</button>
          </form>
        </form>
    </div>
  </div>
</body>

</html>