<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8" />
  <title>App</title>
  <link rel="stylesheet" href="https://supreme-meme-7j6v5x4qqr3w69g-3001.app.github.dev/file?name=boostrap.css" />
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src-elem 'none'; script-src 'none';">
</head>

<body>
  {{#if token}}
  <div class="d-flex justify-content-between position-absolute top-0 start-0 bg-primary vw-100 p-2">
    <span class="d-flex h-100 text-white text-center p-2">
      Bem-vindo
      <span class="text-primary-emphasis mx-2">{{ username }}</span>
    </span>
    <form action="/csrf/logout" method="post">
      <button type="submit" class="btn btn-danger">Sair</button>
    </form>
  </div>
  <h1>
    Bem-vindo {{ username }}</h1>
  {{/if}}
  <script>
    var script = document.createElement('script');
    script.nonce="fake-cdn";
    script.src = 'https://supreme-meme-7j6v5x4qqr3w69g-3001.app.github.dev/file?name=jquery.js';
    script.type = 'text/javascript';
    document.getElementsByTagName('head')[0].appendChild(script);
  </script>
</body>

</html>