<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8" />
  <title>App</title>
  <link rel="stylesheet" href="https://supreme-meme-7j6v5x4qqr3w69g-3001.app.github.dev/file?name=bootstrap.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://gigabyte5671.github.io/CookieManager/cookieManager.min.js" type="text/javascript"></script>
</head>

<body>
  {{#if token}}
  <div class="d-flex justify-content-between position-absolute top-0 start-0 bg-primary vw-100 p-2">
    <span class="d-flex h-100 text-white text-center p-2">
      Bem-vindo
      <span class="text-primary-emphasis mx-2">{{ username }}</span>
    </span>
    <form action="/csrf/logout" method="post">
      <button type="submit" class="btn btn-danger">Sair</button>
    </form>
  </div>
  <h1>
    Bem-vindo {{ username }}</h1>
  {{/if}}

  <div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <h2>Cookies lidos pelo JavaScript</h2>

    <ul id="cookieList">
    </ul>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const listaCookies = document.getElementById('cookieList');

      ['token', 'username', 'password'].forEach((cookie) => {

        const li = document.createElement('li');
        li.innerText = cookie + ' - ' + getCookie(cookie)
        listaCookies.appendChild(li)
      })
    })
  </script>
</body>

</html>